{% extends 'baseFront.html.twig' %}

{% block title %}New Recommendation{% endblock %}

{% block body %}

<div class="row">
    <h1>Create new Recommendation</h1></div>
<div class="row">
    <div class="col-12">
    {{ include('recommendation/_form.html.twig') }}
    </div>
</div>
{% endblock %}
