{% extends 'baseFront.html.twig' %}


{% block body %}
    <a class="btn btn-primary" href="{{ path('prof_reclmataion') }}">Prof</a>
    <a class="btn btn-primary" href="{{ path('prof_reclmataion') }}">Student</a>
    <a class="btn btn-primary" href="{{ path('reclamation_index') }}">Admin</a>
{% endblock %}
